

.activeMapLabel__description {
    position: absolute!important;
    top: 25rem;
    right: 0;
    z-index: 2!important;
    max-width: 40rem;
    /*pointer-events: none;*/
    padding-left: 3rem;
}@media (max-width:1199px){
    .activeMapLabel__description{
        display: none;
    }
}
.activeMapLabel__description ul {
    list-style-type: disc;
    padding-left: 2rem;
}
.activeMapLabel__description ul li {
    margin-bottom: .5rem;
}
.activeMapLabel__description__title{
    font-size: 1.6rem;
    margin-bottom:.5rem;
    font-weight:600;
    line-height:1.2;
}
.activeMapLabel_section{
    gap: 1rem
}
.activeMapLabel_section_item{
    align-items: flex-end;
}